@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
.btn {
  color: #ffffff;
  border: 1px solid transparent;
  font-family: "Kanit";
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-large {
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
  padding: 10px 30px;
}
.btn-medium {
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
}
.btn-small {
  border-radius: 5px;
  font-size: 16px;
}
.yellow {
  background-color: #ecb365;
}

@media (max-width: 854px) {
  body {
    display: none;
  }
}
