.container {
    max-width: 87%;
    margin:0 auto;
}
.dark {
   color: black;
}
.light {
   color: white;
}
.dark1 {
   background-color: #041C32;
}
.dark2 {
   background-color: #ECB365;
}
.dark3 {
   background-color: #064663;
}
.dark4 {
   background-color: #04293A;
}
.light1 {
   background-color: #FAF3F3;
}
.light2 {
   background-color: #DA7F8F;
}
.light3 {
   background-color: #E1E5EA;
}
.light4 {
   background-color: #A7BBC7;
}